@model FridgeManagementSystem.Models.PurchaseManager

@{
    ViewData["Title"] = "Delete Purchase Manager";
}

<h2>Delete Purchase Manager</h2>

<h3>Are you sure you want to delete this purchase manager?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.PurchaseManagerName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.PurchaseManagerEmail</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PurchaseManagerID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
