@model PurchasingSubsystem.Models.PurchaseManager

@{
    ViewData["Title"] = "Edit Purchase Manager";
}

<h2>Edit Purchase Manager</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseManagerID" />

            <div class="form-group mb-3">
                <label asp-for="PurchaseManagerName" class="control-label">Name</label>
                <input asp-for="PurchaseManagerName" class="form-control" />
                <span asp-validation-for="PurchaseManagerName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PurchaseManagerEmail" class="control-label">Email</label>
                <input asp-for="PurchaseManagerEmail" class="form-control" />
                <span asp-validation-for="PurchaseManagerEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
